@{
    ViewData["Title"] = "Login";
}

<div class="container mt-5">
    <h3 class="text-center">INICIAR SESIÓN</h3>
    <div class="row justify-content-center">
        <div class="col-md-4">
            <form method="POST" action="Login">
                <div class="mb-3">
                    <label for="username" class="form-label">Usuario</label>
                    <input type="text" class="form-control" id="username" name="Username" required />
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Contraseña</label>
                    <input type="password" class="form-control" id="password" name="Password" required />
                </div>
                <button type="submit" class="btn btn-primary w-100">Iniciar Sesión</button>
            </form>
            <br>
            @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
            {
                <div class="alert alert-danger" role="alert">
                    @ViewBag.ErrorMessage
                </div>
            }
        </div>
    </div>
</div>
